<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
                    <div class="col-md-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>Product</option>
                <option onclick="showProduct()">Product show</option>
                <option onclick="category()">Category add</option>
                <option onclick="measurement()">Measurement add</option>
            </select>
            <script type="text/javascript">
                function category() {
                    window.location = "[[@{/warehouse/category}]]";
                }


                function measurement() {
                    window.location = "[[@{/warehouse/measurement}]]";
                }

                function showProduct() {
                    window.location = "[[@{/warehouse/product/show}]]";
                }
            </script>
        </div>
            <div class="col-md-5">
                    <div style="max-width: 900px" class="col-md-12">
            <div th:if="${message.isSuccess()!=true}" class="alert-success alert-danger h5 text-center" th:text="${message.getMessage()}" style="text-align: center"></div>
            <div th:unless="${message.isSuccess()!=true}" class="alert-success h5 text-center" th:text="${message.getMessage()}"></div>
        </div>
                   <form th:action="@{/warehouse/product/add}" method="post" enctype="multipart/form-data" >
                       <div class="border form-control">
                <div class="form-group row m-2">
                    <div class="col-sm-3 text-center" >
                        <h5 class="dropdown-item">Name:</h5>
                    </div>
                    <div class="col-sm-6">
                        <input name="name" class="form-control"  type="text" placeholder="Product name" required minlength="3">
                    </div>
                </div>
                <div class="form-group row m-2">
                    <div class="col-sm-3 text-center">
                        <h5 class="dropdown-item" >Category:</h5>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-select" name="category" >
                            <option th:each="cat:${categories}" th:value="${cat.getId()}" th:text="${cat.getName()}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group row m-2">
                    <div class="col-sm-3 text-center">
                        <h5 class="dropdown-item" >Measurement:</h5>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-select" name="measurement" >
                            <option th:each="meas:${measurements}" th:value="${meas.getId()}" th:text="${meas.getName()}"></option>
                        </select>
                    </div>
                </div>
                <div class="form-group row m-2">
                    <div class="col-sm-3 text-center">
                        <h5 class="dropdown-item" >Active</h5>
                    </div>
                    <div class="col-sm-5" style="border-color: #37d344">
                        <input class="form-check-input m-2 h5" name="active" style="color: #37d344" type="checkbox"/>
                    </div>

                </div>

                <div class="form-group row m-2">
                    <div class="col-sm-3 text-center">
                        <h5 class="dropdown-item" >Photos:</h5>
                    </div>
                    <div class="col-sm-6">
                       <input name="attachment" type="file" multiple="multiple" required minlength="1">
                    </div>
                </div>

                <div class="form-group row m-2">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-8">
                        <button class="btn btn-primary" type="submit">Save</button>
                        <button class="btn btn-secondary ms-2" type="reset">Reset</button>
                    </div>
                </div>
                           </div>
        </form>
            </div>
    </div>
</div>

</body>
</html>