
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>Product</option>
                <option onclick="product()">Product add</option>
                <option onclick="category()">Category add</option>
                <option onclick="measurement()">Measurement add</option>
            </select>
            <script type="text/javascript">
                function product() {
                    window.location = "[[@{/warehouse/product}]]";
                }

                function category() {
                    window.location = "[[@{/warehouse/category}]]";
                }


                function measurement() {
                    window.location = "[[@{/warehouse/measurement}]]";
                }

            </script>
        </div>
        <div class="col-md-3 table-bordered">
            <table class="table" style="background: #94e80e">
                <tr class="text-center">
                <tr>
                    <th>Code:</th>
                    <td th:text="${product.getCode()}"></td>
                </tr>
                <tr>
                    <th>Name:</th>
                    <td th:text="${product.getName()}"></td>
                </tr>
                <tr>
                    <th>Category:</th>
                    <td th:text="${product.getCategory().getName()}">
                    </td>
                </tr>
                       <tr>
                    <th>Measurement:</th>
                    <td th:text="${product.getMeasurement().getName()}">
                    </td>
                </tr>
                              <tr>
                    <th>Photos amount:</th>
                    <td th:text="${product.getAttachments().size()}">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-md-7">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img th:src="@{'/warehouse/product/attachment/'+${attachmentId}}" alt="Los Angeles"
                             style="width:100%;height:800px">
                    </div>

                    <div class="item" th:each="atch:${attachmentIds}">
                        <img th:src="@{'/warehouse/product/attachment/'+${atch}}" alt="Chicago"
                             style="width:100%;height:800px">
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
</body>
</html>