<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login - Shopme Admin</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center ">

    <form th:action="@{/warehouse/user/code}"  method="post" style="max-width: 500px; margin: 0 auto;">
        <div class="border border-secondary p-3 rounded">
            <a></a>
            <div  style="max-width: 500px">
                <div th:if="${message.isSuccess()!=true}" class="alert-success alert-danger h5 text-center"
                     th:text="${message.getMessage()}" style="text-align: center"></div>
                <div th:unless="${message.isSuccess()!=true}" class="alert-success h5 text-center"
                     th:text="${message.getMessage()}"></div>
            </div>
            <p  >
                <input  type="email" name="email" class="form-control" placeholder="E-mail" required autofocus minlength="7"/>
            </p>
            <p>
                <input type="submit" value="Send" class="btn btn-primary"/>
            </p>
               <a class="dropdown-item" style="color: #e05858" th:href="@{/warehouse/user/register}">Register as new user</a>
        </div>
    </form>
</div>
</body>
</html>