<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <select class="form-select" aria-label="Default select example">
                <option selected>Product</option>
                <option onclick="showProduct()">Product show</option>
                <option onclick="category()">Category add</option>
                <option onclick="measurement()">Measurement add</option>
            </select>
            <select class="form-select" aria-label="Default select example">
                <option selected>Input</option>
                <option onclick="addInput()">Add input</option>
            </select>
            <script type="text/javascript">
                function category() {
                    window.location = "[[@{/warehouse/category}]]";
                }


                function measurement() {
                    window.location = "[[@{/warehouse/measurement}]]";
                }

                function showProduct() {
                    window.location = "[[@{/warehouse/product/show}]]";
                }

                function addInput() {
                    window.location = "[[@{/warehouse/input}]]";
                }
            </script>
        </div>
    <div class="col-md-6">
        <table class="table table-bordered" style="max-width: 900px">
            <div style="max-width: 900px">
                <div th:if="${message.isSuccess()!=true}" class="alert-success alert-danger h5 text-center"
                     th:text="${message.getMessage()}" style="text-align: center"></div>
                <div th:unless="${message.isSuccess()!=true}" class="alert-success h5 text-center"
                     th:text="${message.getMessage()}"></div>
            </div>
            <thead class="table-dark">
            <tr class="text-center">
                <th>Code:</th>
                <th>Facture:</th>
                <th>Warehouse</th>
                <th>Supplier</th>
                <th>Currency</th>
                <th>Date</th>
                <th>Inputs</th>
            </tr>
            </thead>
            <tr>
                <td class="h6" style="color: darkblue" th:text="${input.getCode()}"></td>
                <td class="h6" style="color: darkblue" th:text="${input.getFactureNumber()}"></td>
                <td class="h6" style="color: darkblue" th:text="${input.getWarehouse().getName()}"></td>
                <td class="h6" style="color: darkblue" th:text="${input.getSupplier().getName()}"></td>
                <td class="h6" style="color: darkblue" th:text="${input.getCurrency().getName()}"></td>
                <td class="h6" style="color: darkblue" th:text="${input.getDate()}"></td>
                <td class="h6" style="color: darkblue" th:text="${input.getInputProductList().size()}"></td>
            </tr>
        </table>
        <th:block th:if="${input.getInputProductList().size()>0}">

            <table class="table table-bordered" style="max-width: 900px">
                <thead class="table-dark">
                <tr class="text-center">
                    <th>Product code:</th>
                    <th>Name:</th>
                    <th>Category:</th>
                    <th>Price:</th>
                    <th>Amount:</th>
                    <th>Measurement:</th>
                    <th>ExpDate:</th>

                </tr>
                </thead>
                <tr th:each="pro:${inputProducts}">
                    <td class="h6" style="color: darkblue" th:text="${pro.getProduct().getCode()}"></td>
                    <td class="h6" style="color: darkblue" th:text="${pro.getProduct().getName()}"></td>
                    <td class="h6" style="color: darkblue" th:text="${pro.getProduct().getCategory().getName()}"></td>
                    <td class="h6" style="color: darkblue" th:text="${pro.getPrice()}"></td>
                    <td class="h6" style="color: darkblue" th:text="${pro.getAmount()}"></td>
                    <td class="h6" style="color: darkblue"
                        th:text="${pro.getProduct().getMeasurement().getName()}"></td>
                    <td class="h6" style="color: darkblue" th:text="${pro.getExpireDate()}"></td>
                </tr>
            </table>

        </th:block>
               <div class="container-fluid">
               <div th:if="${pageNumbers.size()>0}" class="row">
                   <div class="col-md-1">
                       <h5 th:if="${pageNumbers.size()>1}">Pages:</h5>
                   </div>
                   <div class="col-md-2">
                       <a th:each="page:${pageNumbers}" class="pagination-sm m-2 card-header"  th:if="${page!=currentPage+1}"   th:text="${page}" th:href="@{'/warehouse/input/'+${input.getId()}+'/products/?page='+${page}}"></a>
                   </div>
               </div>
           </div>
    </div>
</div>
</div>
</body>
</html>